@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Global */
body {
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.section {
    padding: 100px 0;
}

.divider {
    width: 100px;
    height: 1px;
    background: #d82c2e;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    color: #d82c2e;
    font-size: 30px;
    margin: 20px 0 50px 0;
}

/* Loader */

.loader {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url('../img/loader.gif') center center no-repeat;
}

/* Slider and title section */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, .4);
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url('../img/icons/prev.png')
}

.slides-navigation a.next {
    right: 20px;
    background-image: url('../img/icons/next.png')
}

.title-message {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -135px;
    z-index: 3;
    text-align: center;
}

.main,
.sub {
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
    font-weight: 100;
    letter-spacing: 7px;
}

.main {
    font-size: 60px;
}

.sub {
    font-size: 33px;
}

/* Navigation */

@media only screen and (min-width: 991px) {
    .navbar-brand {
        display: none;
    }
}

#navigation {
    background-color: #d82c2e;
    padding: 20px 10px;
    z-index: 100;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #ffffff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #ffffff;
}

.navbar-toggler-icon {
    background: url('../img/icons/menu.png');
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-nav {
    margin: auto;
}

.navbar-nav a {
    font-weight: 700;
    text-transform: uppercase;
}

/* About me section */

#about {
    padding-top: 0;
}

/* My image area */

.info {
    padding: 30px 0;
    background-color: #d82c2e;
}

.info * {
    padding-bottom: 20px;
    font-weight: 700;
}

.info h1 {
    color: #ffffff;
    font-size: 36px;

}

.info h3 {
    color: #000000;
    font-size: 24px;
}

.download {
    background-color: #d82c2e;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 18px 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: all .2s ease-in;
    text-transform: uppercase;
}

.download:hover {
    background-color: #ffffff;
    color: #d82c2e;
    cursor: pointer;
}



.image-me {
    max-width: 80%;
    border-radius: 50%;
}

/* about me text area */

.about-me {
   margin: 30px 0 50px 0;
}


/* Skills section */
.skills-section,
.contact-section{
    background-color: #d82c2e;
    color: #ffffff;
}

.skills {
    text-align: center;
    margin-left: 10px;
}

.skills h4 {
    margin: 10px 0;
    color: #000000;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.percent {
    color: #000000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.percent:after {
    content: '%';
}

.owl-carousel {
    margin-top: 40px;
}

/* Timeline section */
.timeline-container {
    width: 100%;
    background: url(../img/redline.png) center top repeat-y;
    padding: 50px 0 42px 0px;
}

.timeline ul {
    padding: 0;
}

.timeline > ul li {
    position: relative;
    list-style: none;
    width: 50%;
    transform: translateX(-30px);
}

.timeline-odd {
    margin-left: 50% !important;
    transform: translateX(30px) !important;
}

.text-area {
    background-color: #363b3f;
    color: #ffffff;
    width: 65%;
    margin-left: auto;
    padding: 22px 32px 25px 30px;
    border-radius: 10px;
    transform: scale(1);

    -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);

    -webkit-transition: transform .25s, box-shadow .25s;
    -moz-transition: transform .25s, box-shadow .25s;
    -ms-transition: transform .25s, box-shadow .25s;
    -o-transition: transform .25s, box-shadow .25s;
    transition: transform .25s, box-shadow .25s;
}

.timeline > ul li:hover .text-area {
    transform: scale(1.05);

    -webkit-box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);
}

.timeline-odd .text-area {
    margin-left: 0;
}

.timeline-date {
    font-size: 14px;
    line-height: 1.3;
    margin: 0 0 15px 0;
}

.timeline-institution {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.timeline-degree {
    margin: 0;
}

.timeline-odd .plus {
    left: -60px;
}

.plus {
    width: 57px;
    height: 57px;
    background: url(../img/plus.png);
    position: absolute;
    right: -60px;
    top: 4px;
}

.timeline-arrow {
    background: url('../img/icons/arrow.png') left no-repeat;
    width: 16px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: -10px;
}

.timeline-odd .timeline-arrow {
    left: -10px;
    right: auto;
    background-position: right top;
}

@media only screen and (max-width: 768px) {
    .timeline-container {
        background-position: 38px top;
    }

    .timeline > ul li {
        margin-left: 0 !important;
        transform: translateX(-0) !important;
        width: 100%;
        margin-bottom: 10px;
    }

    .text-area {
        margin-left: 78px !important;
        position: relative;
        width: 70%;
    }

    .timeline-arrow {
        left: -10px;
        background-position: right top;
    }

    .plus {
        left: 12px !important;
    }
}


/* Statistics section */
.square-item {
    margin-top: 30px;
    position: relative;
}

.square-inner-container {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444444;
    border-top: none;
}

.square-inner-container:before,
.square-inner-container:after {
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    border-bottom: 2px solid #444444;
}

.square-inner-container:before {
    right: 0;
}

.square-inner-container:after {
    left: 0;
}

.square-content h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #d82c2e;
}

.square-content h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.square-icon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444444;
}

/* Contact section */
.contact-button {
    color: #ffffff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    transition: all .25s;
}

.contact-button:hover {
    text-decoration: none;
    color: #d82c2e;
    background-color: #ffffff;
}

.filter a {
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #d82c2e;
    border-color: #d82c2e;
    color: #ffffff;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.items li img {
    width: 100%;

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items-container {
    width: 100%;
}

.icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.item .icons i {
    color: #ffffff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #d82c2e;
    position: relative;
    display: inline-block;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;

}

.image-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    -webkit-transition: all .2s linear 0.2s;
    -moz-transition: all .2s linear 0.2s;
    -o-transition: all .2s linear 0.2s;
    -ms-transition: all .2s linear 0.2s;
    transition: all .2s linear 0.2s;
}

.item:hover .image-overlay {
    opacity: 1;
}

.open-button {
    float: left;
    left: -300px;
}

.project-link {
    float: right;
    right: -300px;
}

.item:hover .open-button {
    left: 0;
}

.item:hover .project-link {
    right: 0;
}

.item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

/* Copyright section */

.copyright {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 5px;
}

.copyright p {
    margin: 0;
}